:root {
  --background: #fafafa;
  --primary: #111;
  --accent: #5762d5;
  --accent-transparent: rgba(87, 98, 213, .99);
  --gray: #ddd;

  --sans: 'Montserrat', sans-serif;
  --serif: 'Merriweather', serif;
}

body {
  color: var(--primary);
  background-color: var(--background);
  font-family: var(--sans);
  font-weight: 400;
  font-size: calc(3em + 1vw);
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.dark-mode {
  background-color: var(--primary);
  color: var(--background);
}

h1 {
  font-size: 120%;
  font-weight: 900;
  font-family: var(--serif);
}

p {
  font-size: 85%;
  line-height: 1.2;
}

#container {
  max-width: min(900px, 90%);
  margin: 0 auto;
  padding: 20px 50px 20px 50px;
}

#menu {
  list-style: none;
  font-weight: 900;
  font-family: var(--serif);
  display: flex;
  flex-direction: column;
}

.separator {
  display: none;
}

#footer {
  font-size: 70%;
  padding-top: 1em;
  padding-bottom: 4em;
}

img {
  width: 100%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.videoContainer {
  width: 100%;
  margin-bottom: 1em;
  text-align: center;
}

video {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

a:link {
  color: var(--primary);
  font-weight: 900;
  font-family: var(--serif);
  text-decoration: none;
  transition: color 0.5s ease-out;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

.dark-mode a:link {
  color: var(--background);
}

a:hover {
  text-decoration: none;
  color: var(--accent);
}

.dark-mode a:hover {
  color: var(--accent);
}

a:active {
  text-decoration: none;
}

*:focus {
  outline-style: none;
}

::selection {
  background: var(--accent-transparent);
  color: var(--background);
}

::-moz-selection {
  background: var(--accent-transparent);
  color: var(--background);
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--gray);
}

@media(hover) {
  body {
    font-size: calc(1em + 1vw);
  }

  video {
    max-height: 600px;
  }

  #menu {
    display: flex;
    flex-direction: row;
    item-width: 100%;
    justify-content: space-between;  /* flex-start */
  }

  .separator {
    display: inline;
  }
}

.smiley {
	min-height: 1.3em;
	min-width: 1.3em;
  float: right;
}

.psst {
  position: relative;
  top: 6em;
  font-size: 40%;
  opacity: 0;
  float: right;
  animation: 5s ease-out 2.5s fade-in;
}

@keyframes fade-in {
  10%, 90% { 
    opacity: 0.6;
  }
}
